p{
    font-size: 30px;
    color: blue;
    text-align: center;
}
h1{
    color: red;
    text-align: center;
}
.textColor{
    color: green;
}
.textSize{
    font-size: 60px;
}
.textStyle{
    font-style: italic;
}
h2{
    text-align: center;
}