<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 center ">
      <div class="card bg-warning" >
        <b>FOR BEGINNERS</b>
        <div>
          <h3>Launch your first website</h3>
        </div>
        <div class="card-body">
          <img
            src="https://image.cnbcfm.com/api/v1/image/106884565-1621346132155-gettyimages-1230721734-AUSTRALIA-GOOGLE.jpg?v=1631597289"
            width="100px"
            height="100px"
          />
        </div>
        <div>
          <button class="btn1">Visual Bulider</button>
          <button class="btn1">Documentation</button>
          <button class="btn1">Support</button>
          <button class="btn1">Prebuilt Website</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 center ">
      <div class="card bg-success" >
        <b>FOR MARKETERS</b>
        <div>
          <h3>Genarate Leads And Conversions</h3>
        </div>
        <div class="card-body">
          <img
            src="https://image.cnbcfm.com/api/v1/image/106884565-1621346132155-gettyimages-1230721734-AUSTRALIA-GOOGLE.jpg?v=1631597289"
            width="100px"
            height="100px"
          />
        </div>
        <div>
          <button class="btn2">Design</button>
          <button class="btn2">SEO</button>
          <button class="btn2">Shop Builder</button>
          <button class="btn2">Form Builder</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 center ">
      <div class="card bg-info" >
        <b>FOR PROFESIONALS</b>
        <div>
          <h3>Take Your Projects To The Next Level</h3>
        </div>
        <div class="card-body">
          <img
            src="https://image.cnbcfm.com/api/v1/image/106884565-1621346132155-gettyimages-1230721734-AUSTRALIA-GOOGLE.jpg?v=1631597289"
            width="100px"
            height="100px"
          />
        </div>
        <div>
          <button class="btn3">All-In-One</button>
          <button class="btn3">Patcher</button>
          <button class="btn3">WCAG</button>
          <button class="btn3">Dynamic Data</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<p class="center size"><b>Design Anything, Build Everything</b></p>
<p class="center">Design and launch your website fast & no coding knowledge is required.</p>
